@charset "UTF-8";

* { margin: 0px; padding: 0px;  }

html, body {
    min-height: 100vh;
     background-color: dark;
}

header {
      background-color: black;
      color: white;
      text-align: center;
}

header > h1 {
    padding-top: 50px;
    /** Interessante essa fonte */
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51,51,51);
    color: #ffffff;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0,0,0,0.253);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}




/**
:root {
    --urlidroid: url('http://genbov.fmrp.usp.br/estudos/html-css/exercicios/ex017/fontes/idroid.otf');
    --urlbebas: url('http://genbov.fmrp.usp.br/estudos/html-css/exercicios/ex017/fontes/BebasNeue-Regular.ttf');
}
*/

/**  Buscando fonte pelo @import 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*/

@font-face {
    font-family: 'Android';
    src:  url('http://genbov.fmrp.usp.br/estudos/html-css/exercicios/ex017/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/**  Funciona dos dois Modos  */
@font-face {
    font-family: 'Bebas Neue';
    src: url('http://genbov.fmrp.usp.br/estudos/html-css/exercicios/ex017/fontes/BebasNeue-Regular.ttf') format('opentype');
    font-weight: normal;
}



/**
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

/**  Definir as variaveis utiliza :root  --var1 -- var2   */
:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  --corvc: #90ee90;

   --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
   /**  --fonte-destaque: 'Bebas Neue', cursive;  */
   --fonte-destaque: 'Bebas Neue', cursive;
   --fonte-android: 'Android', cursive;
  
}

* {
    margin: 0px;
    padding: 0px;
}


body {  
      background-color:var(--cor0); 
      font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    /**  Especial para header/cabecalho  */
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 126px;
    text-align: center;
    padding-top: 10px;
}

header > h1 {
     color: #fff;
     font-family: var(--fonte-destaque);
     font-size: 3em;
     font-weight: normal;
     margin-bottom: 10px;
     /** Sombreamento no Texto */
     text-shadow: 5px 6px 3px rgba(0,0,0, 0.267);
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: #fff;
    max-width: 660px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0,0,0, 0.315);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0,0,0, 0.192);
}

nav > a {
 /**   color: #fff;  */
    color: var(--cor1) ;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    /**  Centralizar  */
     margin: auto;
     margin-bottom: 30px;
     padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    /**  Show para direita */
    background-image: linear-gradient(to right, var(--cor1),transparent);
    padding: 2px 0px 2px 6px;
}


main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.4em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
  /**  background-color: var(--cor1);  */
    background-color: var(--corvc);
    padding: 2px 6px;
}

main a:hover {
     text-decoration: underline; 
       color: var(--cor4);
       padding-top: 1px;
}

main img {
    width: 100%;
}
main img.imgpq {
    /**  width: 50%;   */
    max-width: 350px;
    /**  Para Centralizar necessário do display: block;  */
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.281);
}


aside > h3 {
    background-color: var(--cor4);
    color: #fff;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    /** 
    *    Site emojipedia - emoji
    *   https://emojipedia.org/
    *    \2714 - Emohi
    *    \00A0 - Espaço
    */
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    
}

footer {
    background-color: var(--cor5);
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}